.layout {
	/*width: 1920px;*/
	/*height: 1000px;*/
	position: absolute;
	width: 99%;
	height: 99%;
	margin: 0 auto;
	overflow-x: hidden;
	background-color: #171C30;
}

.header {
	padding: 0.5% 0 0.5% 2%;
	font-size: 25px;
	color: white;
	border-radius: 5px;
}
.about{
	position: absolute;
	top: 10px;
	right: 10px;
	font-size:15px;
	cursor: pointer;
}
.dialog{
	display: none;
	position: relative;
	height: 95%;
	width: 100%;
	background-color: white;
	padding: 20px;
}
.close{
	position: absolute;
	top: 10px;
	left: 10px;
	z-index: 9999;
}
#dialog-content{
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;
	flex-direction: column;
	word-wrap: break-word;
}
#dialog-content p{
	text-align: left;
}
#dialog-content img{
	width: 60%;
}
.mutiItem {
	height: 95%;
	background-color: white;
}

.left {
	width: 50%;
	height: 100%;
	float: left;
}

.right {
	width: 50%;
	height: 100%;
	float: left;
}

body {
	margin: 0;
}
#chartA,
#chartB,
#chartC,
#chartD {
	border-radius: 3px;
	box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
	position: absolute;

}


#t1,
#t2,
#t3,
#t4 {
	height: 46%;
	width: 96%;
	padding: 2%
}

.mapboxgl-control-container{
	display: none;
}

p{
	text-align:center
}
.blue {
	color: blue;
	font-size:20px;
	font-weight: bold;
}
.orange{
	color: orange;
	font-size:20px;
	font-weight: bold;
}
.WHO-Text{
	font-size:20px;
}
#WHOText{
	background-color:#FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}
.WHO-text{
	font-size: 2em;
}
#select{
	display:flex;
	flex-direction:column;
	position: absolute;
}
#select1{
	flex:1;
}
#select2{
	flex:1;
}
#div1{
	flex:1;
	text-align: right;
	font-size:2.5em;
	font-weight:bold;
	margin-right: 10px;
}
#div2{
	flex:1;
	text-align: right;
	margin-right: 10px;
	font-size:1.5em;
}
#div3{
	flex:1;
	text-align: right;
	font-size:2.5em;
	font-weight:bold;
	margin-right: 10px;
}
#div4{
	flex:1;
	text-align: right;
	margin-right: 10px;
	font-size:1.5em;
}
#div5{
	flex:1;
	font-size:2.5em;
	font-weight:bold;
	text-align: right;
	margin-right: 10px;
}
#div6{
	flex:1;
	text-align: right;
	margin-right: 10px;
	font-size:1.5em;
}